* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 9px;
  overflow-x: hidden;
}
body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.overallDiv {
  position: relative;
  z-index: 10;
}

.overallDiv:hover .add {
  display: block;
}
.overallDiv:hover .playIcon {
  display: block;
}
.overallDiv:hover .movie-image {
  width: 200px;
  opacity: 0.3;
}
.playIcon {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  position: absolute;
  right: 24%;
  top: 25%;
  display: none;
  cursor: pointer;
  z-index: 50;
}

.add {
  background-color: black;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 3%;
  display: none;
  cursor: pointer;
}
.title-movieDetails {
  color: rgb(164, 163, 163);
  margin-right: 1rem;
}

/*------------------ MEDIA QUERY 1-------- */
@media (min-width: 609px) {
  html {
    font-size: 10px;
  }
}
/* ------SECOND MEDIA QUERY --------*/
@media (min-width: 860px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
    min-height: 100%;
  }
}

/*------ THIRD MEDIA QUERY ------*/
@media (min-width: 1300px) {
  html {
    font-size: 16px;
  }
  .navbar {
    gap: 0.8rem;
    font-size: 1rem;
    align-items: flex-start;
  }
}
